* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Bodoni';

}

/******** ETIQUETAS ********/
#fondo-1 div h1 {
    text-shadow: 0 0 5px black;
    text-align: center;
    font-size: 800%;
    color: white;
    padding-top: 18%;
}

#fondo-1 div h2 {
    font-size: 250%;
    font-family: 'Crimson Text' sans-serif;
    font-style: italic;
    font-weight: bold;
}

footer {
    font-family: sans-serif;
}

hr {
    margin-top: 0;
    padding-top: 0;
}

.navbar {
    z-index: 1100;
    font-family: sans-serif;
    left: 0;
    top: 0;
    right: 0;
}

#t-cuestion {
    text-shadow: 0 0 5px black;
}


/********  DIV ********/
.flex-container{
    display:flex;
    flex-direction: row;
}


#fondo-1 {
    background-image: url("assets/img/in_use/te.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    height: 1000px;
}

#fondo-2 {
    background-image: url("assets/img/in_use/camara.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

#fondo-3 {
    background-image: url("assets/img/in_use/fondo-3.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

#div-2 {
    background-color: #f3f3f3;
}



/******** BOTONES ********/
#r-more {
    font-weight: bold;
}

.css-button-sliding-to-left--black {
    min-width: 150px;
    height: 40px;
    color: transparent;
    padding: 5px 10px;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    background: transparent;
    overflow: hidden;
    border: 2px solid #212529;
    color: #212529;
}

.css-button-sliding-to-left--black:hover {
    color: #fff;
}

.css-button-sliding-to-left--black:hover:after {
    width: 100%;
}


.btn-flotante {
	font-size: 20px; /* Cambiar el tamaño de la tipografia */
	color: #ffffff; /* Color del texto */
	border-radius: 10%; /* Borde del boton */
	background-color: #C0A290; /* Color de fondo */
	padding: 10px 22px; /* Relleno del boton */
	position: fixed;
    border: black 2px solid;
	bottom: 40px;
	right: 40px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 99;
}
.btn-flotante:hover {
	background-color: #594132; /* Color de fondo al pasar el cursor */
	transform: translateY(-7px);
}
@media only screen and (max-width: 600px) {
 	.btn-flotante {
		font-size: 14px;
		padding: 12px 20px;
		bottom: 20px;
		right: 20px;
	}
} 


.css-button-sliding-to-left--black:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.6s ease;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: black;
}

/******** TARJETAS ********/
.back-g{
    background: #DDDEDB;
}
.back-w{
    background: white;
}

.my-card {
    transform: translate(0%,0%);
    width: 360px;
    height: 400px;
}
.my-card .image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.my-card .image img {
    width: 100%;
    transition: .5s;
}
.my-card:hover .image img {
    opacity: .5;
    transform: translateX(30%);/*100%*/
}
.my-card .details {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;/*100%*/
    height: 100%;
    background: #C0A290;
    transition: .5s;
    transform-origin: left;
    transform: perspective(2000px) rotateY(-90deg);
}
.my-card:hover .details {
    transform: perspective(2000px) rotateY(0deg);
}
.my-card .details .center {
    padding: 20px;
    text-align: center;
    background: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.my-card .details .center h1 {
    margin: 0;
    padding: 0;
    color: black;
    font-weight: bold;
    line-height: 20px;
    font-size: 20px;
    text-transform: uppercase;
}
.my-card .details .center h1 span {
    font-size: 14px;
    color: #262626;
}
.my-card .details .center p {
    margin: 10px 0;
    padding: 0;
    color: #262626;
}

.my-card-title {
    position: absolute;
    margin-top: 10px;
    margin-left: 20%;
}


/*****************************
        MEDIA QUERIES
*****************************/

@media(max-width: 991px) {
    #myLogo {
        display: none;
    }
}

@media(max-width:720px){
    .flex-container{
        flex-direction: column;
    }  
    
    #fondo-1 div h1{
        text-shadow: 0 0 5px black;
        color: white;
    }
    #fondo-1 {
        background-image: url("assets/img/in_use/d-720px.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 800px;
    }

    #fondo-2 {
        background-image: url("assets/img/in_use/camara.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
        background-attachment: fixed;
    }

    #fondo-3 {
        background-image: url("assets/img/in_use/fondo-3.jpeg");
        background-repeat: no-repeat;
        background-size: 100%;
        background-attachment: fixed;
    }
    

    .css-button-sliding-to-left--black {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 300px;
    }

    .css-button-sliding-to-left--black:hover {
        color: #fff;
    }

    
}

@media(max-width: 450px) {
    body{
        background-color: #f3f3f3;
    }
    #fondo-1 div h1 {
        
        font-size: 540%;
    }
    #fondo-1 div h2 {
        font-size: 200%;
    }
}












